[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
textblob = "*"
lab-text-processing = "*"
stop-words = "*"
pystemmer = "*"
nltk = "*"
requests = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
pandas = "*"

[requires]
python_version = "3.6"
